:root {
    --board-size: 512px;
}

body {
  font-family: sans-serif;
}

.app {
  margin: auto;
  margin-top: 1vw;

  display: flex;
  justify-content: center;
  width: calc(var(--board-size) * 2);

  align-items: flex-end;
}

.board {
  display: flex;
  flex-wrap: wrap;

  background-color: #ddd;
  width: var(--board-size);
  height: var(--board-size);

  transition: .3s;
}

.pixel {
  box-sizing: border-box;
}

.pixel.is-grid {
  border: 1px solid blueviolet;
  
}

.pixel:hover {
  filter: invert(.2);
  border: 1px solid blueviolet;
}

.tools {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  
  height: var(--board-size);
  
  border-right: 1px solid rebeccapurple;
}

.tool {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ddd;

  width: calc(var(--board-size) / 16);
  height: calc(var(--board-size) / 16);
}

